.collapsingMessage{
    text-align: center;
  }
  
  .collapsingMessage.error{
    //background-color: red;
    color:red;
  }
  
  .collapsingMessage.success{
    //background-color: green;
    color: green;
  }
  
  p.MuiFormHelperText-root{
    color:red;
  }