
div.dishesForm {
    max-width: 40vw;
    padding: 5em;
    background-color: honeydew;
    margin: 0 auto;
    form{
      
      display: flex;
      flex-direction: column;
      .additionals {
        display:flex;
        flex-direction: column;
      }
      button.submitButton{
        margin-top: 15px;
        background-color: $primary;
      }
      button.submitButton:hover{
        background-color: $primary-light;
      }
      div.field {
          margin: 0 0 2em;
      }
      
      input.time::-webkit-datetime-edit-ampm-field {
        display: none;
      }
      .timePick{
        display:flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        .timeField{
          width: 20%;
          
        }
      }
    }
  }
